<!-- <h3> View Customer Details</h3>
<div>
    <div>
        <label> <b> unique user Id</b></label> {{customer.userId}}
    </div>
    <div>
        <label> <b> Name </b></label> {{customer.name}}
    </div>
    <div>
        <label> <b> Email </b></label> {{customer.email}}
    </div>
    <div>
        <label> <b> ContactNo </b></label> {{customer.contactNo}}
    </div>
    <div>
        <label> <b>  DOB </b></label> {{customer.dob}}
    </div>
</div> -->
<div class="page-content page-container" id="page-content" style="margin-top: 30px;">
    <div class="padding">
        <div class="row container d-flex justify-content-Right">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body text-center">
                        <div> <img src="https://img.icons8.com/bubbles/100/000000/administrator-male.png" class="img-lg rounded-circle mb-4" alt="profile image">
                            <h4>{{customer.name}}</h4>
                            <p class="text-muted mb-0">{{customer.userId}}</p>
                        </div>
                        <div class="border-top pt-3">
                            <div class="row">
                                <p>Date Of Birth: {{customer.dob}}</p>
                            </div>
                        </div>
                        <div class="border-top pt-3">
                            <div class="row">
                                <p>Email ID: {{customer.email}}</p>
                            </div>
                        </div>
                        <div class="border-top pt-3">
                            <div class="row">
                                <p>Contact No: {{customer.contactNo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-home-carapp></app-home-carapp>