<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">

        <li class = "nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link" >Home</a>
        </li>

        <li class = "nav-item">
          <a *ngIf="checkUser();" routerLink="sale-details" routerLinkActive="active" class="nav-link" >On Sale</a>
        </li>
        <li class = "nav-item">
          <a *ngIf="checkUser();" routerLink="car-list" routerLinkActive="active" class="nav-link" >My Cars</a>
       </li>

        <li class = "nav-item">
            <a *ngIf="checkUser();" routerLink="appointments" routerLinkActive="active" class="nav-link" >My Appointments</a>
        </li>
        
        <li class = "nav-item">
          <a *ngIf="checkUser();" routerLink="orders" routerLinkActive="active" class="nav-link" >My Orders</a>
      </li>
      

      <li class = "nav-item">
        <a *ngIf="checkUser();" routerLink="payments" routerLinkActive="active" class="nav-link" >My Payments</a>
    </li>
    
        <!-- <li class = "nav-item">
          <a *ngIf="checkUser();" routerLink="users" routerLinkActive="active" class="nav-link" >Users</a>
        </li> -->
        <li class = "nav-item">
          <a *ngIf="checkUser() else reg;" routerLink="customer-details" routerLinkActive="active" class="nav-link" >Profile</a>
          <ng-template #reg><a routerLink="add-user" routerLinkActive="active" class="nav-link">Register</a></ng-template>
        </li>

      <li class = "nav-item">
        <a *ngIf="checkUser(); else login" (click)="logOut()" routerLink="" routerLinkActive="active" class="nav-link" style="cursor: pointer;" >Log Out</a>
        <ng-template #login><a routerLink="login" routerLinkActive="active" class="nav-link">Log In</a></ng-template>
      </li>
    </ul>
  </nav>

<div class = "container">
  <router-outlet></router-outlet>
</div>



<footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2020 By Capgemini</span>
  </div>
</footer>