<h1 style="text-align: center; margin: 10px;">Appointments List</h1>
<div class="row" style="margin-bottom: 90px;">
    <div class="col-sm-4" *ngFor = "let appointment of appointments">
      <div class="card text-center" style="margin: 10px">
        <div class="card-body">
          <h4 class="card-title">{{appointment.model}}</h4>
          <p class="card-text">Appointment ID: {{appointment.appointmentId}}<br>Location: {{appointment.location}}<br>Date: {{appointment.preferredDate}}</p>
          <div>
               <!-- Pop up form for view -->
            <ng-template #viewappointment let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Appointment Details</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="card-body">
                    <p class="card-text">UserId: {{appointment.userId}}<br> Car Id: {{appointment.carId}}<br>Appointment ID: {{appointment.appointmentId}}<br>Location: {{appointment.location}}<br>Variant: {{appointment.preferredDate}}</p>
                </div>
                <div class="modal-footer">
                      
                    <button type="button" class="btn btn-outline-primary" (click)="d('Cross click')" style="margin: 10px">Ok</button>
                </div>
              </ng-template>
            <!-- Pop up form for view end -->

            <button (click) = "open(viewappointment)" class = "btn btn-outline-info" style="margin: 10px"> View</button>


  
          
            <button (click) = "updateAppointment(appointment.appointmentId)" class = "btn btn-outline-primary" style="margin: 10px"> Update</button>

            <!-- Pop up form for delete start -->
            <ng-template #deletecar let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Appointment Details</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p><strong>Are you sure you want to delete Appointment with<span class="text-primary"> "Appointment ID: {{appointment.appointmentId}}"</span> ?</strong></p>
                    
                    <p class="card-text">Appointment ID: {{appointment.appointmentId}}<br>Location: {{appointment.location}}<br>Variant: {{appointment.preferredDate}}</p>
                </div>
                <div class="modal-footer">
                    <p>All information associated to this car will be permanently deleted.
                        <span class="text-danger">This operation can not be undone.</span>
                    </p>
                <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')" style="margin: 10px">Cancel</button>
                  <button type="button" ngbAutofocus class="btn btn-danger" (click)="d('Cross click');deleteAppointment(appointment.appointmentId)" style="margin: 10px">Ok</button>
                </div>
              </ng-template>
            <!-- Pop up form for delete end -->

            <button (click) = "open(deletecar)" class = "btn btn-outline-danger" style="margin: 10px"> Delete</button>

          </div>
          <button routerLink="add-orders" routerLinkActive="active" class="btn btn-outline-secondary" style="margin: 10px">Add Order</button>
        </div>
      </div>
    </div>
</div>