<h1 style="text-align: center; margin: 10px;">Buy Cars</h1>
<div class="row" style="margin-bottom: 90px;">
  <div class="col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-3">
          <button class=" col-md-12 btn btn-info" (click)="viewAll();" style="float: right;margin-right: 30px;">View All Cars</button>
        </div>
      </div>
      <div class="row" style="padding-top: 20px">
        <div class="col-md-12">
          <form #form="ngForm" (ngSubmit) = "onSubmit()"> 
            <div class="form-row">  
            <div class="col"> 
              <div class="form-group">
                  <select id="filtertype" name="filtertype" [(ngModel)] = "filter.filterType" ngModel class="form-control" required>
                    <option value="Model">Model</option>
                    <option value="Brand">Brand</option>
                  </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Search Value" name="value" [(ngModel)] = "filter.filterValue"
                #filterValue="ngModel"  required
                [ngClass]="{'is-invalid': filterValue.errors && (filterValue.touched || filterValue.dirty), 'is-valid': filterValue.valid}"/> 
              </div>
            </div>
            <div class="col">
              <button class = "col btn btn-success" [disabled]="!form.valid" type ="submit">Submit</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-4" *ngFor = "let car of mycar">
      <div>
      <div [ngClass]="carUser(car.userId) == true ? 'card border-success text-center' : 'card border-warning text-center' " style="margin: 10px;">
        <div class="card-body">
          <h4 class="card-title">{{car.model}}<span *ngIf="carUser(car.userId)" class="badge badge-success">My Car</span></h4>
          <p class="card-text">Brand: {{car.brand}}<br>Variant: {{car.variant}}</p>
          <div>
            <ng-template #viewcar let-c="close" let-d="dismiss">

                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Car Details</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p class="card-text">Car Id: {{car.carId}}<br>User Id: {{car.userId}}<br>Brand: {{car.brand}}<br>Model: {{car.model}}<br>Variant: {{car.variant}}<br>Registration Year: {{car.registrationYear}}<br>Registration State: {{car.registrationState}}</p>
                    <h3>Cost: {{sale.cost}}</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" (click)="d('Cross click')" style="margin: 10px;">Ok</button>
                </div>
              </ng-template>
            <!-- Pop up form for view end -->

            <button (click) = "open(viewcar); getSale(car.carId)" class = "btn btn-outline-info" style="margin: 10px"> View Car</button>
            
            <!-- Pop up form for buycar start -->
            <ng-template #buycar let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"><span class="text-danger">Buy Car ?</span></h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p><strong>Are you sure you want to Buy car with<span class="text-primary"> "Car ID: {{car.carId}}"</span> ?</strong></p>
                  
                  <p class="card-text">Brand: {{car.brand}}<br>Model: {{car.model}}<br>Variant: {{car.variant}}<br>Registration Year: {{car.registrationYear}}<br>Registration State: {{car.registrationState}}</p>
              </div>
              <div class="modal-footer">
                  <p>
                      <span class="text-success">This operation can not be undone.</span>
                  </p>
              <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')" style="margin: 10px">Cancel</button>
                <button type="button" ngbAutofocus class="btn btn-success" (click)="d('Cross click');transferUser(car.carId)" style="margin: 10px">Ok</button>
              </div>
            </ng-template>
          <!-- Pop up form for buycar end -->
            
            <button [disabled]= "carUser(car.userId)" (click) = "open(buycar)" class = "btn btn-outline-success" style="margin: 10px"> Buy Car </button>
            <button [disabled]= "carUser(car.userId)" (click) = "setCarId(car.carId)" routerLink="add-appointments" routerLinkActive="active" class="btn btn-secondary" style="margin: 10px">Add Appointment</button>
        </div>
        
      </div>
    </div>
</div>
