<h3> View Appointment Details</h3>
<div>
    <div>
        <label> <b> unique car Id:</b></label> {{car.carId}}
    </div>
    <div>
        <label> <b> car Brand</b></label> {{car.brand}}
    </div>
    <div>
        <label> <b> car Model</b></label> {{car.model}}
    </div>
    <div>
        <label> <b> car variant: </b></label> {{car.variant}}
    </div>
    <div>
        <label> <b> Registration Year: </b></label> {{car.registrationYear}}
    </div>
    <div>
        <label> <b> Registration State: </b></label> {{car.registrationState}}
    </div>
</div>

