<h3> View Appointment Details</h3>
<div>
    <div>
        <label> <b> unique appointment Id</b></label> {{appointment.appointmentId}}
    </div>
    <div>
        <label> <b> Location </b></label> {{appointment.location}}
    </div>
    <div>
        <label> <b> Inspection Type: </b></label> {{appointment.inspectionType}}
    </div>
    <div>
        <label> <b> Preferred Data: </b></label> {{appointment.preferredDate}}
    </div>
    <div>
        <label> <b> Preferred Time: </b></label> {{appointment.preferredTime}}
    </div>
</div>
