<div class="col-md-6 offset-md-3">
    <h3> Login </h3>
    <form style="margin-bottom:200px" #form="ngForm" class="form-group">

        <div class="form-group">
            <label>UserId</label>
            <input type="text" class="form-control" name="userId" [(ngModel)] = "user.userId" 
            #userId="ngModel" pattern="^[0-9]*$" required
            [ngClass]="{'is-invalid': userId.errors && (userId.touched || userId.dirty), 'is-valid': userId.valid}"/>
            <div class="invalid-feedback">
                <strong *ngIf="userId.errors?.required">userId is required.</strong>
                <strong *ngIf="userId.errors?.pattern">Only Numbers are allowed.</strong>
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)] = "user.password" id="pass" 
            #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" required
            [ngClass]="{'is-invalid': password.errors && (password.touched || password.dirty), 'is-valid': password.valid}"/>
            <div class="invalid-feedback" >
                <strong *ngIf="password.errors?.required">password is required.</strong>
                <strong *ngIf="password.errors?.pattern" >password should contain atleast one uppercase letter.</strong><br>
                <strong *ngIf="password.errors?.pattern">password should contain atleast one lowercase letter.</strong><br>
                <strong *ngIf="password.errors?.pattern">password should contain atleast special character.</strong><br>
                <strong *ngIf="password.errors?.pattern">password strength should be atleast 5char </strong><br>
               
            </div>
            </div>
            <div>
                <input type="checkbox" onclick="myFunction()">
                <label>show password</label>
            </div>
            <script>
                function myFunction(){
                    var check = document.getElementById("pass");
                    if(check.type === "password"){
                        check.type="text";
                    }
                    else{
                        check.type="password";
                    }
                }
            </script>
    
    <div class="form-group">
        <label for="branch">Role</label>
        <select id="role" name="role"  [(ngModel)] = "user.role" #role="ngModel" ngModel class="form-control" required
        [ngClass]="{'is-invalid': role.errors && (role.touched || role.dirty), 'is-valid': role.valid}">
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>
      </div>

        <button class = "btn btn-success" type ="logIn" (click)="LoginUser()" [disabled]="!form.valid" >Log In</button>
        <button class = "btn btn-success" type ="register" (click)="registerUser()" style="position: absolute; right: 0;">Register</button>
       
        <p><font color="red"><b>Note:</b></font>If not registered please click on register button.</p>
    </form>
    </div> 
