<h3> View Card Details</h3>
<div>
    
    <div>
        <label> <b> Card Id </b></label> {{card.cardId}}
    </div>
    <div>
        <label> <b> User Id </b></label> {{card.userId}}
    </div>
    <div>
        <label> <b> Card Name </b></label> {{card.cardName}}
    </div>
    <div>
        <label> <b> Card Number </b></label> {{card.cardNumber}}
    </div>
    <div>
        <label> <b> Card Expiry </b></label> {{card.cardExpiry}}
    </div>
    <div>
        <label> <b> Cvv </b></label> {{card.cvv}}
    </div>
</div>