<h1 style="text-align: center; margin: 10px;">Cars list</h1>
<div class="row">
    <div class="col-sm-4" *ngFor = "let car of cars">
      <div class="card text-center" style="margin: 10px">
        <div class="card-body">
          <h4 class="card-title">{{car.model}}</h4>
          <!-- <p class="card-text">Brand: {{car.brand}}<br>Variant: {{car.variant}}<br>Registration Year: {{car.registrationYear}}<br>Registration State: {{car.registrationState}}</p> -->
          <p class="card-text">Brand: {{car.brand}}<br>Variant: {{car.variant}}</p>
          <div>
            <button (click) = "carDetails(car.carId)" class = "btn btn-outline-info" style="margin: 10px"> View</button>
            <button (click) = "updateCar(car.carId)" class = "btn btn-outline-primary" style="margin: 10px"> Update</button>
            <button (click) = "deleteCar(car.carId)" class = "btn btn-outline-danger" style="margin: 10px"> Delete</button>
          </div>
          <button routerLink="add-appointments" routerLinkActive="active" class="btn btn-outline-secondary" style="margin: 10px">Add Appointment</button>
        </div>
      </div>
    </div>
</div>  