<h1 style="text-align: center; margin: 10px;">Customer List</h1>
<div class="row" style="margin-bottom: 90px;">
    <div class="col-sm-4" *ngFor = "let customer of customers">
      <div class="card text-center" style="margin: 10px">
        <div class="card-body">
          <h4 class="card-title">{{customer.model}}</h4>

<p class="card-text">UserId: {{customer.userId}}<br> Name : {{customer.name}}<br> Email: {{customer.email}}<br>ContactNo: {{customer.contactNo}}<br>DOB: {{customer.dob}}</p>
          <div>
              

           

          </div>
          
        </div>
      </div>
    </div>
</div>